.card-body {
  background-image: url("../img/bgimg.png");
}

body {
  padding: 50px;
  font-family: "Special Elite", cursive;
  color: antiquewhite;
  background-color: #212529;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 60px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.daily-temp-date {
  text-align: center;
}

.date-time {
  position: relative;
  top: -100px;
  margin: 0 auto;
}

.location-pin {
  color: red;
  font-size: 30px;
  position: relative;
  left: 5px;
  top: 10px;
}

.location-pin:hover {
  color: rgb(252, 56, 56);
}

.search-btn {
  margin: 10px 0 0 0;
  color: antiquewhite;
}

#daily-forecast {
  font-size: 11px;
  text-align: center;
}

.weather-info {
  position: relative;
  top: -100px;
  margin: 0 auto;
}

.weekly-temp {
  font-size: 11px;
}

#celcius-temp {
  font-size: 30px;
  position: relative;
  bottom: 15px;
  left: -15px;
  margin: 0 auto;
}

#city-name {
  text-transform: capitalize;
  position: relative;
  bottom: 100px;
}

#condition {
  text-transform: capitalize;
}

#daily-temp {
  position: relative;
  top: -50px;
}

#daily-temp-img {
  display: block;
  margin: 0 auto;
  position: relative;
  top: -5px;
}

#weather-icon {
  position: relative;
  left: 150px;
  bottom: 100px;
}
